/* @font-face {
  font-family: Anurati-Pro-Regular";
  src: url('/fonts/anurati-pro-web/Anurati-Pro-Regular.woff2') format('woff2')
} */

@import "tailwindcss";

@font-face {
  font-family: "Alexana Neue";
  src: url("/fonts/Alexana/Alexana Neue.ttf") format("truetype");
  font-display: swap;
}

@theme {
  --font-gobotdo: "Alexana Neue", "sans-serif";
}
